<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Find jargon in international development reports">
    <title>Devjargon</title>
    <link rel="stylesheet" href="css/pure-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="css/app.css">
  </head>
<body>
  <div class="pure-g" id="devjargon-app">
    <div class="content pure-u-1">

      <form enctype="multipart/form-data">
        <div class="row">
            <label>Title<input type="text" name="title"></label>
            <label>Organization<input type="text" name="organization"></label> 
            <label>Upload file<input id="fileupload" type="file" name="source_file"></label>
            <input type="button" value="Submit" />
        </div>  
      </form>
    </div>
  </div>

  <script type="text/template" id="document-template">
    <div id="document-container"></div>
      <div class="document-header">
        <h1><%= title %></h1>
        <h2><%= organization %></h2>
      </div>
      <svg id="word-counts" class="bubble" width="500" height="500"></svg>
    </div>
  </script>

  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/lib/jquery-1.11.1.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/app.js"></script>  
  <script src="js/models/document.js"></script>  
  <script src="js/views/document.js"></script>  
  <script src="js/views/app.js"></script>  
  <script src="js/routers/router.js"></script>  
</body>
</html>